body {
  font-family: "Open Sans", sans-serif;
  font-size: larger;
}

.btn {
  background-color: #d7383d;
  border-color: #d7383d;
  color: white;
  width: 300px;
  height: 80px;
  font-size: 28px;
  border-radius: 0px;
}

.second-section {
  background-color: #d7383d;
  color: white;
}

.h1,
.h2,
.h3 {
  font-family: "Alfa Slab One", cursive;
}

.footer-section {
  background-color: #242a2e;
  color: white;
}

.footer-list .list-group-item {
  background-color: #242a2e;
  border-top: 1px solid #242a2e;
  border-left-color: #242a2e;
  border-right-color: #242a2e;
  color: white;
}

.footer-link {
  color: white;
  background-color: transparent;
  text-decoration: none;
}

.footer-link:hover {
  color: rgb(136, 233, 255);
  background-color: transparent;
  text-decoration: none;
}
