body {
  font-family: "Open Sans", sans-serif;
  font-size: larger;
}

.btn {
  background-color: #ff002f;
  border-color: #ff002f;
  color: white;
  width: 300px;
  height: 80px;
  font-size: 28px;
  border-radius: 0px;
}

.h1,
.h2,
.h3 {
  font-family: "Alfa Slab One", cursive;
}
